body {
  margin: 10;
  padding: 10;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 12px;
}


.box {
  background: white;
  color: black;
  border-radius: 20px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  min-height: 60px;
  margin: 50px auto;
  padding: 300px;
  opacity: 100;
  

}



.img {
  border-radius: 0px;
  width: 500px;
  height: 500px;
  align-items: left ;
}


